@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}

a:active {
    color:#1a0dab;
}

h1 {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #DDD;
    font-weight: 300;
    color: #33383c;
    font-size: 32px;
    word-wrap: break-word;
}

h2 {
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #33383c;
    font-size: 24px;
    word-wrap: break-word;
}

h3 {
    margin-top: 45px;
    font-weight: bold;
    color: #33383c;
    font-size: 20px;
    word-wrap: break-word;
}

h4 {
    margin-top: 45px;
    color: #33383c;
    font-size: 20px;
    word-wrap: break-word;
}

h5 {
    margin-top: 45px;
    font-weight: bold;
    color: #33383c;
    font-size: 18px;
    word-wrap: break-word;
}

p {
    margin-top: 15px;
    line-height: 1.5em;
}

blockquote {
    background-color: #eee;
    padding: 20px 15px;
    margin: 30px 0;
    font-size: initial;
    border-left: solid 5px #999;
}

blockquote p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 15px 0 20px;
}

footer {
    text-align: left;
    font-size: 12px;
    color: #999;
    margin: 50px 0 20px 0;
    padding-top: 25px;
}

/* Table of Contents */
#toc {
    padding-bottom: 100px;
}

    #toc h1 {
        font-weight: 500;
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        margin: 40px 0 5px 0;
        padding: 0;
        border-bottom: none;
        color: #333;
    }

#toc h2, #toc h3, #toc h4, #toc h5, #toc h6 {
    font-family:Roboto;
    font-size: 14px;
    margin: 0;
    line-height: 1.68;
}

#toc a {
    margin-left: 0px;
    display: block;
}

/* Navigation */

nav img {
    padding: initial;
}

.logo-bar {
    background-color: #337AB7;
    color: #fff;
}

.navbar {
    border: none;
    border-radius: initial;
    margin-bottom: 0px;
}

#head .navbar-default .button {
    border-color: #fff;
    background-color: #ebf2f8;
    color: #2e78b9 !important;
    padding: 2px 15px;
    margin-top: 12px;
}

.navbar-brand {
    padding: 0;
    margin-left: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

/* Code layouts */
code {
    background: rgba(0,0,0,.075);
    border-radius: 2px;
    color: #000;
    font-family: Menlo,monospace;
    font-size: .9em;
    padding: 2px 5px 1px;
}

/* Right most column on Articles view */
#infoColumn {
    padding-top: 40px;
}

/* Used for displaying steps */
ol.step li {
    position: relative;
    display: block;
    padding: 0px 20px 0 97px;
    margin: 35px 0 0 -30px;
    background: #f0f0f0;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    height: 45px;
    line-height: 42px;
    border: 1px solid #f0f0f0;
    font-weight: normal;
    font-size: 18px;
}

ol.step li:before {
    text-transform: uppercase;
    content: "Step " attr(value);
    counter-increment: li;
    position: absolute;
    left: -10px;
    top: 0;
    margin-top: -1px;
    background: #337ab7;
    height: 45px;
    line-height: 43px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all .3s ease-out;
    color: #FFF;
    font-size: 20px;
    padding: 0 15px;
    text-shadow: 0 0 2px rgba(33, 26, 145, 0.35);
}

/* Mobile Devices */
@media only screen and (max-width: 500px) {
    ol.step li:before {
        font-size: 14px;
        padding: 0 12px;
    }

    ol.step li {
        font-size: 14px;
        color: #333;
        padding-left: 80px;
    }
}

/* Search Results Page */
#searchContent {
    max-width: 700px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    margin-top: 30px;
}

#searchContent .result {
    margin-top: 0px;
    margin-bottom: 25px;
    line-height: 1.4;
    word-wrap: break-word;
    font-size:13px;
}

#searchContent .date {
    font-size:12px;
    color:#808080;
}

#searchContent .url {
    color: #006621;
    font-size:14px
}

#searchContent h2 {
    margin: 0px 0px;
    font-size: 18px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    font-weight:normal;
}

#searchContent .resultCount {
    color: #808080;
    font-size: 13px;
    padding: 10px 0 30px 0;
}

#searchContent a:visited {
    color: #609;
}

/* Search Area Form */
.searchArea {
    margin-top:-15px;
    height: 70px;
    border-bottom: 1px solid #dee5e8;
    background-color: #f6f7f8;
}

.searchArea > div {
    margin-top: 16px;
}

.searchArea .inputWrapper {
    box-shadow: 3px 3px 5px #ddd;
    background-color: #fff;
    border: solid 1px #ddd;
    max-width: 600px;
    margin-top: 15px;
}

.searchArea input {
    max-width: 520px;
    height: 40px;
    padding: 10px;
    outline: none;
    border: #fff;
    display: inline-block;
}

.searchArea .inputButtons {
    display: inline-block;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

/* Mobile Devices */
@media only screen and (max-width: 500px) {
    .searchArea > div {
        margin: 15px -5px 0 -5px;
    }

}
