body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}

h1 {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #DDD;
    font-weight: 300;
    color: #33383c;
    font-size: 32px;
    word-wrap: break-word;
}

h2 {
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #33383c;
    font-size: 32px;
    word-wrap: break-word;
}

h3 {
    margin-top: 45px;
    font-weight: bold;
    color: #33383c;
    font-size: 26px;
    word-wrap: break-word;
}

h4 {
    margin-top: 45px;
    font-weight: bold;
    color: #33383c;
    font-size: 22px;
    word-wrap: break-word;
}

h5 {
    margin-top: 45px;
    font-weight: bold;
    color: #33383c;
    font-size: 18px;
    word-wrap: break-word;
}

p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 15px;
    line-height: 1.5em;
}

blockquote {
    background-color: #eee;
    padding: 20px 15px;
    margin: 30px 0;
}

    blockquote p {
        margin: 0;
    }

#toc {
    padding-bottom: 100px;
}

    #toc h1 {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        margin: 40px 0 5px 0;
        padding: 0;
        border-bottom: none;
        color: #333;
    }

    #toc h2, #toc h3, #toc h4, #toc h5, #toc h6 {
        font-size: 13px;
        margin: 0;
        line-height: 1.68;
    }

    #toc a {
        margin-left: 0px;
        display: block;
    }

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 15px 0 20px;
}

nav img {
    padding: initial;
}

code {
    background: rgba(0,0,0,.075);
    border-radius: 2px;
    color: #000;
    font-family: Menlo,monospace;
    font-size: .9em;
    padding: 2px 5px 1px;
}

.logo-bar {
    background-color: #337AB7;
    color: #fff;
}

.navbar {
    border: none;
    border-radius: initial;
    margin-bottom: 0px;
}

#head .navbar-default .button {
    border-color: #fff;
    background-color: #ebf2f8;
    color: #2e78b9 !important;
    padding: 2px 15px;
    margin-top: 12px;
}

.navbar-brand {
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
    }

.subhead {
    height: 40px;
    border-bottom: 1px solid #dee5e8;
    background-color: #f6f7f8;
}

#infoColumn {
    padding-top: 40px;
}

ol.step li {
    position: relative;
    display: block;
    padding: 0px 20px 0 97px;
    margin: 35px 0 0 -30px;
    background: #f0f0f0;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    height: 45px;
    line-height: 42px;
    border: 1px solid #f0f0f0;
    font-weight: normal;
    font-size: 18px;
}

    ol.step li:before {
        text-transform: uppercase;
        content: "Step " attr(value);
        counter-increment: li;
        position: absolute;
        left: -10px;
        top: 0;
        margin-top: -1px;
        background: #337ab7;
        height: 45px;
        line-height: 43px;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: all .3s ease-out;
        color: #FFF;
        font-size: 20px;
        padding: 0 15px;
        text-shadow: 0 0 2px rgba(33, 26, 145, 0.35);
    }

footer {
    float: right;
    text-align:right;
    font-size: 12px;
    color: #999;
    margin: 25px 0;
}